<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean id="electricalEngine" class="com.vehicle.engines.ElectricalEngine"></bean>
    <bean id="combustionEngine" class="com.vehicle.engines.CombustionEngine"></bean>

	<bean id="car" class="com.vehicle.categories.car">
        <constructor-arg ref="combustionEngine"/>
    </bean>
    <bean id="bike" class="com.vehicle.categories.bike">
        <property name="engine" ref="electricalEngine"></property>
    </bean>
</beans>